.field input:focus {
  background:#ff7;
}

body {
	font-family: helvetica;
	margin: 20px;
	vertical-align: center;
	padding: 10px;
	font-size: 12px;
	background-color: #e2e2e2;
}
img {
	width: 200px;
}
.datper {
	padding: 20px;
}
.for {
	padding: 20px;
}
h1 {
	font-family: helvetica;
	font-size: 16px;
	margin: 0px;
}
h2 {
	font-family: helvetica;
	font-size: 13px;
}

p {
	font-family: Arial;
	font-size: 12px;
}

.container_12 .obras div {
	display: inline;
}
.container_12 {
	padding: 10px;
}