body {
	background: #e9eaed;
	color: #8e8e91;
	font-family: 'Playball','Dosis', Helvetica, Arial, sans-serif;
}
article{
	width: 960px;
	background: #ffffff;
	margin:20px auto;
	padding:20px;
}
article header {
	border-bottom: 5px #bb3 solid;
}
article header img{
	height: 150px;
}
article header h2{
	font-size: 26px
	color: #bbbb66;
}
h1 {
	margin: 0;
	font-size: 36px	
}
h3 {
	font-size: 20px
}
#titular{
	Color:#8E8E91;
}
.subtitulo {
	color:#bbbb66;
}
p {
	font-family: 'Dosis';
	font-size: 16px;
	font-weight: 500;
	color: black;
}
footer{
	font-style: italic;
	text-align: center;
}
.fin {
	font-style: bold;
	text-align: center;
}
